{% extends "layouts/default.html" %}
{% block title %}Departments{% endblock %}
{% block content %}
<div class="container">
  <div class="columns">
    <div class="column">
  <h1 class="is-size-3">Departments</h1>
    </div>
    <div class="column">
  <a href="/departments/new" class="button is-primary">New Department</a>    
    </div>
  </div>
  <table class="table is-striped">
    <thead>
      <tr>
	<th>Code</th>
	<th>Name</th>
	<th>Budget</th>
	<th>Edit</th>
	<th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for dept in departments %}
      <tr>
	<td>{{dept.code}}</td>
	<td><a href="/departments/{{dept.code}}">{{dept.name}}</a></td>
	<td>{{dept.budget}}</td>
	<td><a class="button is-info is-small" href="/departments/{{dept.code}}/edit">
	    <span class="icon">
	    <ion-icon name="create-outline"></ion-icon>
	      </span>
	</a></td>
	<td><a class="button is-danger is-small" href="/departments/{{dept.code}}/delete">
	    <span class="icon"><ion-icon name="trash-outline"></ion-icon></span>
	</a></td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
