{% extends "layouts/default.html" %}
{% block title %}Employees {% endblock %}
{% block content %}
<div class="container">
  <div class="columns">
    <div class="column is-two-thirds">
  <h1 class="is-size-3">Employees</h1>
    </div>
    <div class="column">
  <p><a class="button is-primary" href="/employees/new">New Employee</a></p>
    </div>
    </div>
  <table class="table is-striped">
    <thead>
      <tr>
	<th>SSN</th>
	<th>Name</th>
	<th>Department</th>
	<th>Edit</th>
	<th>Delete</th>

      </tr>
    </thead>
    <tbody>
      {% for emp in employees %}
      <tr>
	<td>{{emp.ssn}}</td>
	<td><a href="/employees/{{emp.ssn}}">{{emp.name}} {{emp.lastname}}</a></td>
	<td>{{emp.department}}</td>
	<td><a class="button is-info is-small" href="/employees/{{emp.ssn}}/edit">
	    <span class="icon">
	    <ion-icon name="create-outline"></ion-icon>
	      </span>
	</a></td>
	<td><a class="button is-danger is-small" href="/employees/{{emp.ssn}}/delete">
	    <span class="icon"><ion-icon name="trash-outline"></ion-icon></span>
	</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
