{% extends "layouts/default.html" %}
{% block title %}{{employee.name}} - Employee{% endblock %}
{% block content %}
<div class="container">
  <div class="columns">
    <div class="column is-two-thirds">
      <h1 class="is-size-1">{{employee.name}} {{employee.lastname}}</h1>
    </div>
    <div class="column">
      <a class="button is-primary" href="/employees/{{employee.ssn}}/edit">Edit</a>
      <a class="button is-danger" href="/employees/{{employee.ssn}}/delete">Delete</a>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <div class="field">
	<label class="label" for="txtSSN">SSN:</label>
	<div class="control">
	  {{employee.ssn}}
	</div>
      </div>
      <div class="field">
	<label class="label" for="txtName">First Name:</label>
	<div class="control">
    {{employee.name}}
	</div>
      </div>
      <div class="field">
	<label class="label" for="txtLastname">Last Name:</label>
	<div class="control">
    {{employee.lastname}}
	</div>
      </div>
      <div class="field">
	<label class="label" for="lstDept">Department:</label>
	<div class="control">
	  {{employee.department}}
	</div>
      </div>
    </div>
  </div>
  {% endblock %}
