{% extends "layouts/default.html" %}
{% block title %}Employees {% endblock %}
{% block content %}
<div class="container">
  <h1>Employees</h1>
  <p><a class="button is-primary" href="/employees/new">New Employee</a></p>
  <table class="table is-striped">
    <thead>
      <tr>
	<th>SSN</th>
	<th>Name</th>
	<th>Department</th>
	<th>Edit</th>
	<th>Delete</th>

      </tr>
    </thead>
    <tbody>
      {% for emp in employees %}
      <tr>
	<td>{{emp.ssn}}</td>
	<td><a href="/employees/{{emp.ssn}}">{{emp.name}} {{emp.lastname}}</a></td>
	<td>{{emp.department}}</td>
	<td><a href="/employees/edit/{{emp.ssn}}">Edit</a></td>
	<td><a href="/employees/delete/{{emp.ssn}}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
